.search_button {
  background-color: #4a148c;
  border: #4a148c;
  color: #fff;
  min-width: 200px;
}

.search_button:hover {
  background-color: #7b1fa2;
}

.load_more_button {
  width: 10%;
  margin: 0 auto;
  display: block;
}
