.movie_card {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 270px;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding-bottom: 10px;
}

.light.movie_card {
  background-color: #3d3d3d;
}

.movie_title {
  margin-bottom: 2px;
  font-weight: bold;
}

.light.movie_title {
  color: #fff;
}

.movie_year {
  margin-top: 0;
  font-style: italic;
}

.light.movie_year {
  color: #fff;
}

.movie_info {
  margin-top: auto;
  padding: 5px;
}

.movie_image {
  height: 400px;
}

.movie_image img {
  height: 100%;
  width: auto;
}

.movie_link {
  margin-left: 5px;
}

.light.movie_link {
  color: #fff;
}

.movie_link:hover {
  text-decoration: underline;
}

.movie_footer {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 40px;
  cursor: pointer;
}
