.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_content {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.title {
  color: #000;
}

.btn {
  width: 100%;
  color: #fff;
  background-color: blueviolet;
  margin-top: 20px;
  transition: 1s all;
}

.btn:hover {
  background-color: rgb(16, 165, 39);
  transition: 1s all;
}
