.container {
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

label {
  display: block;
}
.data {
  display: flex;
  gap: 20px;
}

.content-card {
  width: 400px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.content-card img {
  height: 200px;
}

.error {
  color: red;
  font-size: 14px;
}

.error-content {
  height: 20px;
}

input {
  border-radius: 5px;
  border: 1px solid #000;
  padding: 5px;
}

input[type='file'] {
  border: none;
}
